<div class="w3-card-4">
    <form class="w3-container" method="post">
        <p>
            <label class="w3-text-brown" for="login">
                <b>Login</b>
            </label>
            <input class="w3-input w3-border w3-sand" name="login" id="login" type="text">
        </p>
        <p>
            <button class="w3-btn w3-teal">Login</button>
        </p>
    </form>
</div>
